<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item active">
            <a class="nav-link" href="/dash/dash">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/dash/dashboard">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Manage Society</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/society/socadd">
                <i class="icon-add menu-icon" >+</i>
                <span class="menu-title">Add Society</span>
            </a>
        </li>
       
        <li class="nav-item active">
            <a class="nav-link" data-toggle="collapse" href="#report" aria-expanded="false" aria-controls="report">
                <i class="icon-ban menu-icon"></i>
                <span class="menu-title">Report</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="report">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/report/election_due_req">Election Due</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/report/election_upcoming_req">Election Upcoming</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/report/society_ur_req">Urban Rural</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/report/society_ele_status_req">Election Status</a></li>
                </ul>
            </div>
        </li>
        <%  if(user.user_type == 'S'){  %>
        <li class="nav-item active">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                <i class="icon-ban menu-icon"></i>
                <span class="menu-title">Document</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/wdtls/doclist">Dcoument List</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/wdtls/adddoc">Upload Dcoument</a></li>
                    <!-- <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li> -->
                </ul>
            </div>
        </li>
        
        <li class="nav-item active">
            <a class="nav-link" href="/wdtls/announcelist">
                <i class="icon-add menu-icon" >+</i>
                <span class="menu-title">Announcement</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/wdtls/gallerylist">
                <i class="icon-add menu-icon" >+</i>
                <span class="menu-title">Gallery</span>
            </a>
        </li>
        <!-- <li class="nav-item active">
            <a class="nav-link" href="/wdtls/statistic">
                <i class="icon-add menu-icon" >+</i>
                <span class="menu-title">Statistic</span>
            </a>
        </li> -->
        <li class="nav-item active">
            <a class="nav-link" href="/wdtls/faqlist">
                <i class="icon-add menu-icon" >+</i>
                <span class="menu-title">FAQ</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/wdtls/qlinkslist">
                <i class="icon-add menu-icon" >+</i>
                <span class="menu-title">Important Links</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
                <i class="icon-ban menu-icon"></i>
                <span class="menu-title">User Management</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/wdtls/adduser">Create user</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/wdtls/userlist">Manage User</a></li>
                    <!-- <li class="nav-item"> <a class="nav-link" href="*">Transfer User</a></li> -->
                </ul>
            </div>
        </li>
        <%  } %>
        
        <!-- <li class="nav-item active">
            <a class="nav-link" href="/society/modifiedlist">
                <i class="icon-add menu-icon" >+</i>
                <span class="menu-title">Updated Society</span>
            </a>
        </li> -->
        <!-- 
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
                aria-controls="form-elements">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Form elements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="icon-bar-graph menu-icon"></i>
                <span class="menu-title">Charts</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Tables</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Icons</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                <i class="icon-ban menu-icon"></i>
                <span class="menu-title">Error pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li> -->
    </ul>
</nav>