<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title card_title_cus">Add Gallery</h4>
        <form class="forms-sample" action="/wdtls/uploadgall" method="post" enctype="multipart/form-data">
          <input type="hidden" class="form-control"  name="title" value="" >
            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputName1">Title<span class="red">*</span></label>
                 
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName1">Upload  <span class="red">*</span> ( jpeg|jpg|png|gif ) </label><br>
                  <input type="file" name="gall_img" accept="image/*" required>
                </div>
              </div>
            </div>
          <button type="submit" class="btn btn-primary mr-2" id="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



