<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title card_title_cus">Change Password</h4>
        <form class="forms-sample" action="/wdtls/changepass" method="post"  id="passwordForm" >
          <input type="hidden" class="form-control"  name="id" value="" required>
          
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputName1">Old Pass<span class="red">*</span></label>
                  <input type="password" class="form-control"  name="old_pass" value="" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputName1">New Pass<span class="red">*</span></label>
                  <input type="password" class="form-control"  name="pass" value="" id="newPass" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputName1">Confirm Pass</label>
                  <input type="password" class="form-control"  name="con_pass" value="" id="confirmPass" required>
                </div>
              </div>
            </div>
            <div>
              <ul>
                <li id="lowercase" class="cross">At least one lowercase letter</li>
                <li id="uppercase" class="cross">At least one uppercase letter</li>
                <li id="number" class="cross">At least one number</li>
                <li id="special" class="cross">At least one special character</li>
                <li id="length" class="cross">Minimum length of 8 characters</li>
              </ul>
            </div>
          <button type="submit" class="btn btn-primary mr-2" id="subBtnFrPass">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function() {
                '<% if (error_msg.length > 0) { %>'
                    toastr.error('<%= error_msg %>');
            '<% } %>'
            });
  // Validate if the passwords match before submitting
  document.querySelector('#passwordForm').addEventListener('submit', function(event) {
    var pass = document.getElementById('newPass').value;
    var confirmPass = document.getElementById('confirmPass').value;
    if (pass !== confirmPass) {
      event.preventDefault(); // Prevent form submission
      alert("Passwords do not match.");
    }
  });
</script>

