
/* Primary Color #1b64b3
Primary Hover Color #11549b */

.btn-primary, .wizard > .actions a {
  color: #fff;
  background-color: #1b64b3;
  border-color: #1b64b3;
}


.btn-primary:hover, .wizard > .actions a:hover {
  color: #fff;
  background-color: #11549b;
  border-color: #11549b;
}


.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator .count {
  background: #1b64b3;
}

.text-primary, .list-wrapper .completed .remove {
  color: #1b64b3 !important;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link, .sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded="true"] {
  background: #1b64b3;
}

.sidebar .nav.sub-menu {background: #1b64b3;}

.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link[aria-expanded="true"] {
  background: #1b64b3;}

.sidebar .nav .nav-item .nav-link i.menu-icon {color: #fff;}

.table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td {padding: 1.125rem 10px;}
.society_th_1{width: 100%; max-width: 70px;}
.society_th_2{width: 100%; max-width: 250px;}


.custome_table_res{padding-top: 0 !important;}
.custome_table_res table thead tr th, .custome_table_res table tbody tr td{width: auto;}

.custome_table_res table.table_cus thead tr th{padding:1.125rem  10px; font-size: .875rem;}
.custome_table_res table.table_cus thead tr th:nth-child(1){width: 62px;}

.custome_table_res table.table_cus tbody tr td{padding:10px 10px; font-size: 14px;}
.custome_table_res table.table_cus tbody tr td a.link_fnc{width: 100%; display: block; color: #333;}
.custome_table_res table.table_cus tbody tr td span{background: #008000;
  color: #fff;
  margin-top: 5px;
  border-radius: 6px;
  padding: 4px 10px;
  display: inline-block;}

.select2-container--default .select2-selection--single {height: 44px !important; border: 1px solid #CED4DA;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 44px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 44px;}

h4.card_title_cus{display: flex;
  padding-left: 0;
  border-bottom: #aeaeae solid 1px;
  padding-bottom: 10px;}
.table_title_icon{margin: 0 0 0 auto; padding-right: 8px;}
.table_title_icon i{font-size: 22px; margin-left: 10px;}
.table_title_icon i.pdf_cus{color: #ff0000;}
.table_title_icon i.excel_cus{color: #008000;}


.pagination .page-item.active .page-link, .jsgrid .jsgrid-pager .page-item.active .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a, .pagination .page-item:hover .page-link, .jsgrid .jsgrid-pager .page-item:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover .page-link, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover a, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover a, .pagination .page-item:focus .page-link, .jsgrid .jsgrid-pager .page-item:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus .page-link, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus a, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus a, .pagination .page-item:active .page-link, .jsgrid .jsgrid-pager .page-item:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:active .page-link, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active a, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-page:active a {
  background: #1b64b3;
  border-color: #1b64b3;
  color: #ffffff !important;
}

#pagination a {color: #333;}


select.form-control, select.asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row select, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint {
  color: #495057;}
.radioBtn_Cus label{margin-left: 5px;}

.subtitle_Form_cus h3{font-size: 16px; display: flex; font-weight: bold;}
.subtitle_Form_cus h3 .radioBtn_right{margin: 0 0 0 auto; display: flex;}
.radioBtn_right .radioBtn_Cus{margin-left: 15px;}
.urlby label{display: block; width: 100%;}

.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type="text"], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type="number"], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
  padding: 0.875rem 8px;}

nav.pagination_cus{margin-top: 20px !important;}
.pagination_cus ul{float: right;}
.btn, .fc button, .ajax-upload-dragdrop .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel, .wizard > .actions a {
  border-radius: 8px;}

.navbar .navbar-brand-wrapper .brand-logo-mini img {width:auto;}

.auth .brand_logo_cus img {width: auto !important;}

.auth .brand_logo_cus {margin-bottom: 18px !important;}

.loginWrapper{padding: 30px; box-shadow: 0 0 22px 5px #cfcdd5; border: #d5d5d5 solid 1px;}

.sidebar .nav .nav-item.active > .nav-link {
  background: #1b64b3;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link, .sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded="true"] {
  background: #11549b;}

a.edit_dashboard{color: #fff;
  font-weight: 700;
  font-size: 13px;
  background: #1b64b3;
  padding: 4px 7px;
  border-radius: 3px;}

 .form-group label {
    font-weight: 900;
 }

 .rulby label{width: 100%;}
 .rulby .select2-container{width: 100% !important;}

 .urlby label{width: 100%;}
 .urlby .select2-container{width: 100% !important;}

 .red{
  color:#ff0000;
  font-size: 16px;
  font-weight: 700;
 }
 .blue {
  background: #24357e;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 0px 6px;
  margin-top: 4px;
  display: inline-block;
}
 


