<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title card_title_cus">Add FAQ</h4>
        <form class="forms-sample" action="/wdtls/saveqlinks" method="post" >
          <input type="hidden" class="form-control"  name="id" value="" required>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputName1">Title<span class="red">*</span></label>
                  <input type="text" class="form-control"  name="title" value="" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputName1">Link<span class="red">*</span></label>
                  <input type="text" class="form-control"  name="links" value="" required>
                </div>
              </div>
            </div>
          <button type="submit" class="btn btn-primary mr-2" id="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



